{% extends "base.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Sign In</h4>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Your username and password didn't match. Please try again.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <form action="." method="post">
                {% csrf_token %}

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                    <input type="text" name="username" autofocus="" autocapitalize="none"
                           autocomplete="username" maxlength="150" required="" id="id_username"
                            placeholder="{{ form.username.label }}" class="form-control">
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input type="password" name="password" autocomplete="current-password"
                           required="" id="id_password" placeholder="{{ form.password.label }}"
                            class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" disabled>Sign In</button>
                </div>
                <p class="text-center">
                    Please, use the following form to log-in. If you don't have an account
                    <a href="{% url 'blogs:users:register' %}">register here</a>
                </p>
            </form>
        </article>
    </div>
{% endblock %}

{% block domready %}
    $('input').on(
        'input',
        function() {
            array = Array.from($('input'))
            if(array.every((elem) => elem.value)) {
                $('.btn').attr("disabled", false);
            }
            else {
                $('.btn').attr("disabled", true);
            }
        }
    );
{% endblock %}