{% extends "base.html" %}

{% block title %}Edit your profile{% endblock %}


{% block content %}
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Edit your profile</h4>
            <form action="." method="post">
                {% csrf_token %}

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                    {{ user_form.first_name }}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                    {{ user_form.last_name }}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                     </div>
                    {{ user_form.email }}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
                    </div>
                    {{ profile_form.date_of_birth }}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-camera"></i> </span>
                    </div>
                    {{ profile_form.photo }}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{ user_form.old_password }}
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{ user_form.new_password }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Save changes</button>
                </div>
            </form>
        </article>
    </div>
{% endblock %}